.container {
	width: auto;
	padding-right: 100px;
	border-right: 1px solid black;
	font-size: 15px;
	font-family: arial;
	float: left;
}
.news-section {
	width: auto;
	padding-left: 100px;
	border-right: 1px solid black;
	font-size: 15px;
	font-family: arial;
	float: right;
}

.comment {
	border-bottom: 1px solid black;
	padding: 10px;
	line-height: 1.2;
}

.row1 {
	display: flex;
	justify-content: space-between;
}

.row3 {
	text-align: right;
	font-size: 13px;
	color: gray;
}

.feed-headers {
	font-size: 30px;
}
.specialist-name {
	font-weight: bold;
	font-size: 20px;
}
.specialist-topic {
	font-weight: bold;
	font-size: 15px;
}
.message-text {
	font-weight: normal;
	font-size: 15px;
}


.delete-icon {
	height: 30px;
	float:right;
}

.new-comment-section p {
	margin-bottom: 5px ;
	font-weight: bold;
	color: teal;
}

.name,
.message,.topic {
	border: 1px solid black;
	border-radius: 5px;
	font-size: 13px;
	padding: 7px;
	width: 350px;
}
