html{
    margin: 0;
    padding: 20px;
    background: white;
    border: 10px solid LightGray;
}
body{
    background-image: url("lab.jpg");
    background-repeat: no-repeat;
    background-position: top center;

    font: 90% didot, serif;
}
header{
    text-align: center;
    font-size: 30pt;
    margin-top: 85px;
    margin-bottom: 60px;
}
li{
    margin-left: 30px;
}

a{
  color: black;
  font-family: serif;
  font-size: 175%;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #2596be;
  border: none;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
b {
  background-color: #2596be;
  color: white;
  padding: 0.4% 0.9%;
  position: absolute;
  top:10px;
  left:10px;
  text-decoration: none;
  text-transform: uppercase;
}

b:hover {
  background-color: blue;
}

b:active {
  background-color: lightgray;

}

footer{
    text-align: center;
}
.top_page{
    text-align: center;
    padding: 20px;
    background: white;
    outline: 10px solid LightGray;
    margin: 30px 50px 50px;
}
.list_start{
    font-size: 20pt;
    padding: 3px;
    border: 5px solid LightGray;
}
img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#to_hobbies{
    text-align: center;
    font-size: 14pt;
}
#me{
    width:400px;
    height:300px;
}

#intro{
    text-align: center;
}
#lists{
    margin: 30px 30px 30px 30px;
}
#responsive
{
    text-align: center;
    font-weight: bold;
    padding: 3px;
    border: 5px solid LightGray;
    margin: 30px;
}
#exp{
    text-align: center;
    padding: 3px;
    border: 5px solid lightgray;
    margin-right: 140px;
    margin-left: 140px;
    margin-top: 100px;
    background-color: white;
    opacity: 0.9;
}
#Resume p,
#responsive p {
    font-size: 14pt;
    margin: 0px 0px 10px 0px;
}
